@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Space Mono', monospace;
}
.home, .createdocket, .veiw, .sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dbtn{
    /* position: absolute; */
    right: 340px;
    width: 70px;
    border-radius: 5px;
    transform: translate(630px,-240px);
    border: none;
    border: 1px solid gray;
    transition: background-color 0.5s;
    /* background-color: aquamarine; */
}
.dbtn:hover{
    background-color: #bd194f;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
.modal-content{
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
    animation: entry 0.5s forwards;
}
.modal button{
    
    width: 60px;

    margin: 10px;
    margin-top: 20px;
}
@keyframes entry {
    0%{
        opacity: 0;
        transform: translateY(-120px);
    }
    100%{
         opacity: 1;
        transform: translateY(-170px);       
    }
}
.home{
    margin-top: 50px;
}
.home button{
    padding: 5px;
    border: none;
    border: 1px solid black;
    outline: none;
    margin: 10px;
    transition: background-color 0.5s ;
}  
.home button:hover{
    background-color: #65a366;
} 
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border: 1px solid grey;
    width: 800px;
    height: 350px;
    padding: 25px;
}
.form input{
    width: 130px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 4px;
    margin-left: 40px;
    
    
}
select{
    margin: 4px;
    width: 400px;
    margin-left: 40px;

}
table{
    margin-top: 20px;
}
.form button, .sub button{
    margin: 10px;
    width: 80px;
    border: none;
    border: 1px solid black;
    transition:background-color 0.5s  ;
}
.form button:hover,.sub button:hover{
    background-color: green;
}


@media screen and (max-width:600px){ 
   .home{
    margin-top: 150px;
    /* background-color: #65a366; */
   }
   .form{
    width: 380px;
    padding: 0;
    margin-top: 140px;
    height: 350px;
}
.form input{
    margin-top: 3px;
}
   select{
    width: 150px;
   }
   .sub{
    margin-top: 200px;
    font-size: 0.6rem;
   }
   .veiw{
    margin-top: 30px;
   }
   .card{
    font-size: 0.9rem;
    width: 310px;
    height: 400px !important;
   }
   .card table{
    font-size: 0.9rem;
    width: 338px !important;
    margin-left: -10px;
    /* width: 0px !important; */
    /* width: 50px !important; */
   }
   .card td{
    width: 70px !important;
   }
   .dbtn{
    position:relative;
    /* transform: translateX(0); */
    left:-370px;
    top: 14px;
    
   }
}